<!DOCTYPE html>
<html>
  <head>
    <title>Lauras Pet Services</title>
  </head>

  <body>
	<ul>
	  <% @animals.each do |animal| %>
	    <li>
	        <%= animal.Type %>
	    </li>
   	    <li>
	        <%= @providedServices[animal.provided_service_id].service %>
	    </li>
	  <% end %>
</html> 